.container-users{
    margin: 2rem auto;
    .percent{
        display: flex;
        align-items: baseline;
        font-size: 1rem;
        strong{
            margin: 1rem;
            font-size: 1.5rem;
        }
    }
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        li{
            margin: 1rem;
            padding: 1rem;
        }
    }
}

@media (max-width: 550px) {
    .container-users{
        ul{
            padding: 0;
            align-items: center;
            li{
                margin: 1rem 0;
                padding: 1rem 0;
            }
        }
    }    
  }